p{
    color: blue;
    background-color: rgb(255,110,0);
}
#work{
    color: chartreuse;
    background-color: rgb(255, 0, 0);
}
h1{
    color: red;
    background-color: white;
}
h2{
    color: rgb(57, 6, 177);
    background-color: #00ffff;
}
button{
    color: red;
    background-color: chartreuse;
}
body{
    background-color: rgb(18, 3, 29);
}
*{
    margin:20;
    padding: 20;
}
.class{
    color: rgb(0, 4, 212);
    background-color: rgb(98, 122, 122);
    font-style: italic;
}